<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="addProduct">
        <h1>Productos</h1>
        <form>
            <input type="text" id="title" placeholder="Escriba el nombre del producto" required>
            <input type="number" id="price" placeholder="Escriba el precio del producto" required>
            <button type="submit">Agregar</button>
        </form>
    </div>

    <div id="listProducts">

    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>